<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Listings</h1>

      <ul class="list-group">
        <% listings.forEach((listing) => { %>

        <li class="list-group-item">
          <a href="/listings/<%= listing.id %>"> <%= listing.title %></a>
        </li>

        <% }) %>
      </ul>
    </main>
  </body>
</html>
