<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <section class="container">
      <h2 style="padding-top: 25px">Special request</h2>
      <h5 style="padding-top: 12px">
        Dear Traveler, welcome to Capacity. The new platform connecting you to
        the main jet operators from Europe and America, offering their empty-leg
        charter flights.
      </h5>
      <p class="question">
        Not found what you were looking for in our listings?
      </p>
      <p>
        At Capacity, our dedicated team can work the extra mile upon your
        request.<br />
        Thanks to our extended network among jet operators, we can research the
        flight which might suit your needs. <br />
        Just let us know by submitting your request in the below form. If a
        full-fare flight might also suits you, please let us know.
      </p>
      <p>
        Should you be interested in sending us your request, you'll need to
        sign-in or sign-up below
      </p>
      <% include ../static/partials/baseScripts.ejs %>
    </section>
  </body>
</html>
