body {
  padding-top: 54px;
  font-family: "Nunito", sans-serif;
}

header {
  background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2560x1709/944746c3e81dfdfe150bbbc8dc22bbae/photo-1484320775925-2609d111d8b3");
  background-size: cover;
  min-height: 60vh;
}

.center-text {
  margin-top: 2em;
  text-align: left;
}

h4,
h6.center-text {
  margin-right: 10em;
}

.aircraft-pic {
  width: 250px;
}

.col-pic {
  padding: 0;
}

.col {
  text-align: center;
  vertical-align: middle;
}

.col-price {
  color: red;
}

.question {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.container img {
  max-width: 300px;
  max-height: 150px;
  margin-top: 20px;
  padding: 0;
}

.container .col-1 {
  padding: 0;
  margin: 0;
}

.split-left {
  width: 80%;
  float: left;
  height: 100%;
  padding: 0;
  margin: 0;
}

.split-right {
  width: 20%;
  float: left;
  height: 100%;
  margin-top: 50px;
}

.inquiry {
  margin-top: 30px;
  margin-bottom: 50px;
}
