<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/navbar.ejs %>
    <section class="container">
      <h2 style="padding-top: 25px">About us</h2>
      <h5 style="padding-top: 12px">
        Welcome to Capacity, the new platform connecting the main jet operators
        from Europe and America, offering their empty-leg charter flights.
      </h5>

      <p style="padding-top: 12px">
        Empty-legs are discounted one-way private charter flights, offered with
        a discount up to 90% off the standard market price. Such discount is
        possible because the operator needs to reposition from an airport to
        another. This can be the case when for instance an aircraft needs to
        pick-up passengers on an already booked flight and needs to fly from its
        base.
      </p>

      <p>
        These flights are made for people ready to make a last-minute booking
        and accepting that our offers are solely subject to availability of the
        flight and eager to accept a potential change or cancelation in case the
        original flight is.
      </p>

      <p>
        This is a unique opportunity to experience a different way of flying,
        whether you are traveling alone or want to share it with a group of
        friends. The service offered aboard will be the same as a full-fare
        flight.
      </p>
      <% include ./partials/baseScripts.ejs %>
    </section>
  </body>
</html>
