<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <!-- Navigation -->
    <% include ./partials/navbar.ejs %>

    <header class="container-fluid"></header>
    <!-- Page Content -->
    <main class="container">
      <!-- Jumbotron Header -->

      <!-- Page Features -->
      <section class="center-text">
        <h4>
          Find your empty-leg flight offered by the main operators in Europe and
          America with discount up to 90%.
        </h4>
        <h6>
          Empty legs are private flights expected to fly without passengers from
          an airport to another. Browse our list and save up to 90%.
        </h6>
      </section>
      <section class="center-text">
        <h2>America</h2>
        <p>Here is a selection of our current deals</p>
        <div>
          <img
            class="aircraft-pic"
            src="assets/images/DF900C/F900C.jpg"
            alt="Falcon 900C Exterior"
          />
          <img
            class="aircraft-pic"
            src="assets/images/DF900C/F900C-INT.jpg"
            alt="Falcon 900C Interior"
          />
        </div>
      </section>
      <section class="center-text">
        <h2>Europe</h2>
      </section>
      <!-- /.row -->
    </main>
    <!-- /.container -->
  </body>
</html>
