<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <!-- Navigation -->
    <% include ./partials/navbar.ejs %>

    <header class="container-fluid"></header>
    <!-- Page Content -->
    <main class="container">
      <!-- Jumbotron Header -->

      <!-- Page Features -->
      <section class="center-text">
        <h4>
          Find your empty-leg flight offered by the main operators in Europe and
          America with discount up to 90%.
        </h4>
        <h6>
          Empty legs are private flights expected to fly without passengers from
          an airport to another. Browse our list and save up to 90%.
        </h6>
      </section>
      <div>
        <h2>America</h2>
        <p>Here is a selection of our current deals</p>
        <div class="row">
          <div class="col-pic">
            <img
              class="aircraft-pic"
              src="images/DF900C/F900C.jpg"
              alt="Falcon 900C Exterior"
            />
          </div>
          <div class="col-pic">
            <img
              class="aircraft-pic"
              src="images/DF900C/F900C-INT.jpg"
              alt="Falcon 900C Interior"
            />
          </div>
          <div class="col my-auto">
            <p>September 26, 2019</p>
            <p>Dassault Falcon 900B (12 seats)</p>
          </div>
          <div class="col my-auto">
            <p>Departure: New York - Teterboro KTEB</p>
          </div>
          <div class="col my-auto">
            <p>Arrival: Los Angeles - Van Nuys KVNY</p>
          </div>
          <div class="col-price my-auto">
            <p>$45,500</p>
          </div>
          <div class="col my-auto">
            <button>inquire</button>
          </div>
        </div>
        <br />

        <div class="row">
          <div class="col-pic">
            <img
              class="aircraft-pic"
              src="images/Ultra/Ext.jpg"
              alt="Citation Ultra Exterior"
            />
          </div>
          <div class="col-pic">
            <img
              class="aircraft-pic"
              src="images/Ultra/Int.jpg"
              alt="Citation Ultra Interior"
            />
          </div>
          <div class="col my-auto">
            <p>September 22, 2019</p>
            <p>Cessna Citation Ultra (7 seats)</p>
          </div>
          <div class="col my-auto">
            <p>Departure: Santa Barbara, CA - KSBA</p>
          </div>
          <div class="col my-auto">
            <p>Arrival: San Diego, CA - KSAN</p>
          </div>
          <div class="col-price my-auto">
            <p>$5,000</p>
          </div>
          <div class="col my-auto">
            <button>inquire</button>
          </div>
        </div>
        <br />
        <p>More opportunities departing from <a href="#">America</a></p>
      </div>

      <section class="center-text">
        <h2>Europe</h2>
        <div class="row">
          <div class="col-pic">
            <img
              class="aircraft-pic"
              src="images/Mustang/Ext.jpg"
              alt="Citation Mustang Exterior"
            />
          </div>
          <div class="col-pic">
            <img
              class="aircraft-pic"
              src="images/Mustang/Int.jpg"
              alt="Citation Mustang Interior"
            />
          </div>
          <div class="col my-auto">
            <p>September 15, 2019</p>
            <p>Cessna Citation Mustang (4 seats)</p>
          </div>
          <div class="col my-auto">
            <p>Departure: Cannes - LFMD</p>
          </div>
          <div class="col my-auto">
            <p>Arrival: Madrid - LEMD</p>
          </div>
          <div class="col-price my-auto">
            <p>€2,000</p>
          </div>
          <div class="col my-auto">
            <button>inquire</button>
          </div>
        </div>
        <br />

        <div class="row">
          <div class="col-pic">
            <img
              class="aircraft-pic"
              src="images/Lear75/Ext.jpg"
              alt="Citation Ultra Exterior"
            />
          </div>
          <div class="col-pic">
            <img
              class="aircraft-pic"
              src="images/Lear75/Int.jpg"
              alt="Citation Ultra Interior"
            />
          </div>
          <div class="col my-auto">
            <p>October 17, 2019</p>
            <p>Bombardier Learjet 75 (8 seats)</p>
          </div>
          <div class="col my-auto">
            <p>Departure: London, UK - Biggin Hill EGKB</p>
          </div>
          <div class="col my-auto">
            <p>Arrival: Amsterdam - EHAM</p>
          </div>
          <div class="col-price my-auto">
            <p>£3,300</p>
          </div>
          <div class="col my-auto">
            <button>inquire</button>
          </div>
          <br />
          <p>More opportunities departing from <a href="#">Europe</a></p>
        </div>
      </section>
      <!-- /.row -->
    </main>
    <!-- /.container -->
  </body>
</html>
