<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <!-- Navigation -->
    <% include ./partials/navbar.ejs %> <% include
    ../static/partials/messages.ejs %>
    <header class="container-fluid"></header>

    <main class="container">
      <!-- Jumbotron Header -->
      <!-- Page Features -->
      <section class="center-text">
        <h4>
          Find your empty-leg flight offered by the main operators in Europe and
          America with discount up to 90%.
        </h4>
        <h6>
          Empty legs are private flights expected to fly without passengers from
          an airport to another. Browse our <a href="listings/index">listings</a> and save up to 90%.
        </h6>
      <!-- /.row -->
    </main>
    <!-- /.container -->
  </body>
</html>
